<app-header titulo='ProgressBar y Range'></app-header>

<ion-content padding>

  <!-- Los valores son entre 0 y 1 -->
  <ion-progress-bar [value]='porcentaje'></ion-progress-bar>

<ion-list>
  <ion-item>
    
    <!-- pin se usa para poner la burbujita encima cuando se arrastra con el ratón  -->
    <ion-range
      min="1" max="100"
      pin="true"
      color="tertiary"
      (ionChange)="cambioRango($event)">
      <ion-label slot='start'>0</ion-label>
      <ion-label slot='end'>100</ion-label>
    </ion-range>

  </ion-item>
</ion-list>


</ion-content>
